* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 20px;
    background: #3b648c;
}

.header {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background: #3b648c;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
