* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 20px;
    background: #7d99b5;
}

.header {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

.p{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 30px;
    font-size: 30px;
    text-align: left;

}

.footer{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
