body {
    font-family: Tektur, sans-serif;
    background-color: black;
    margin: 0;
}

section {
    width: 100vw;
    max-height: 50px;
    background-color: #7d8fae;
    z-index: 9;
}

h1 {
    position: absolute;
    font-family: Tektur, sans-serif;
    color: black;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px 5px 2px 60px;
}

h2 {
    font-family: Tektur, sans-serif;
    font-size: 32px;
    color: #ffd159;
    writing-mode: vertical-lr;
    margin: 0;
    padding: 5px 0px 0px 0px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 5px;
}

h3 {
    font-family: Tektur, sans-serif;
    color: #ffd159;
    font-size: 32px;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

h4 {
    font-family: Tektur, sans-serif;
    color: #000000;
    font-size: 20px;
    margin: 0;
    padding: 10px 7px 0px 7px;
}

h5 {
    position: relative;
    font-family: Charm, cursive;
    writing-mode: vertical-lr;
    color: #000000;
    font-size: 40px;
    margin: 0;
}


img {
    padding: 2px 2px 2px 2px;
    margin: 5px;
}

p {
    font-size: 24px;
    margin: 5px;
    padding: 0px 20px 0px 0px;
}


button span {
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    background-size: 50%;
}


.button1 {
    font-family: Tektur;
    font-weight: bold;
    font-size: 32px;
    color: black;
    writing-mode: vertical-lr;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 80px 10px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align:left;
}



header {
    position: relative;
    display: block;
    background-color: black;
    z-index: 9;
    width: 100vw;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    z-index: 0;
}


.overlay {
    position: relative;
    height: 1000px;
}

.overlay-content {
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
}



.header-boxes {
    position: absolute;
    display: flex:
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}

.vertList {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 60px;
    z-index: 1;
}


.scroll-text-track {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
   overflow: hidden;

    padding-top: 1.2rem;
    gap: 1.2rem;
    animation: my-animation var(--speed, 10s) linear infinite
    var(--direction, forwards);
    user-select: none;
}

.scroll-text {
    overflow: hidden;
}

.scroll-text span {
    float: top;
    height: 25%;

}

@keyframes my-animation {
    to {
        transform: translateY(-50%);
    }
}

.side-text {
    position: absolute;
    display:  inline;
    padding: 0px 5px 0px 0px;
    z-index: 1;

}

.taskbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskbarExit {
    z-index: 9;
    align-items: right;
}


.content-container {
    padding: 2px 2px 2px 2px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 1px;
}


.projectContent {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    min-width: 300px;
    min-height: 200px;
    z-index: 9;
}

#testdiv {
    position: absolute;
    z-index: 9;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

#testdivHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: redl
    color: #fff;
}

.tektur-font {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.charm-regular {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}
