body {
    font-family: Tektur, sans-serif;
    background-color: black;
    margin: 0;
    overflow: clip;
}

section {
    width: 100vw;
    max-height: 50px;
    background-color: #7d8fae;
    z-index: 9;
}

h1 {
    position: absolute;
    font-family: charm-bold;
    color: black;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px 5px 2px 60px;
}

h2 {
    font-family: charm-bold;
    font-size: 32px;
    color: #ffd159;
    writing-mode: vertical-lr;
    margin: 0;
    padding: 5px 0px 0px 0px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 5px;
}

h3 {
    font-family: charm-bold;
    color: #ffd159;
    font-size: 32px;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

h4 {
    font-family: charm-bold;
    /*text-shadow: -0px -0px 0 #fff, 0px 0px 0px #fff, -1px 1px 0px #fff, 1px 1px 1px #fff;*/
    color: #000000;
    font-size: 20px;
    margin: 0;
    padding: 10px 7px 0px 7px;
}

h5 {
    position: relative;
    font-family: Charm, cursive;
    writing-mode: vertical-lr;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    color: #000000;
    font-size: 40px;
    margin: 0;
}

h6 {
     font-family: Charm, cursive;
     color: #000000;
     font-size: 22px;
     padding-left: 7px;
     margin: 0px 0px 0px 0px;
}

img {

}

.projectContent img {
    padding: 2px 2px 2px 2px;
    user-select: none;
}

.footer img {
    padding: 2px 2px 2px 2px;
    margin: 5px;
    user-select: none;
}


p {
    font-size: 24px;
    margin: 5px;
    padding: 0px 20px 0px 0px;
}

p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 8px;
}

p2 {

    font-size: 16px;
    margin: 5px;
    padding: 0px 20px 0px 0px;
}


button span {
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    background-size: 50%;
}


.button1 {
    font-family: charm-bold;
    font-weight: bold;
    font-size: 32px;
    color: black;
    writing-mode: vertical-lr;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align:left;
}

.button2 {
    font-family: charm-bold;
    font-weight: bold;
    font-size: 32px;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px 10px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align:left;
}

.button3 {
    font-family: charm-bold;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px 2px 5px;

}


.buttonHyperlink {
    background:none;
    border:none;
    padding: 0;

    font-family: charm-bold;
    font-size: 24px;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}


.show {
    z-index: 9;
}

header {
    position: relative;
    display: block;
    background-color: black;
    z-index: 9;
    width: 100vw;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    z-index: 0;
}


.overlay {
    position: relative;
    height: 1000px;
}

.overlay-content {
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
}



.header-boxes {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;

}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50%;
    padding-left: 60px;

}

.menuButtons {
    display: none;
    flex-direction: row;

}




.scroll-text-track {
    position: inline-block;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60px;
    padding-top: 1.2rem;
    gap: 1.2rem;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: my-animation;
    animation-timing-function: linear;


    user-select: none;
}

.scroll-text {
    overflow: hidden;
}

.scroll-text span {
    float: top;
    height: 12%;
}

@keyframes my-animation {
    from {
        transform: translateY( 0% );
    }
    to {
        transform: translateY(-100%);
    }
}

.side-text {
    position: absolute;
    display:  inline;
    z-index: 1;
}



.logobox {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);

}

.taskbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: grey;
    padding: 0px;
    width: 100%;
    border-bottom: 3px solid black;
}

.taskbarExit {
    z-index: 9;
    align-items: right;
}


.content-container {
    padding: 2px 2px 2px 2px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 1px;
}


.modalImage img {
    padding: 2px 2px 2px 2px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 1px;

    max-height: 80vh;
    max-width: 80vw;
    object-fit: contain;
}

.modalImageGallery {
    position: absolute;
    opacity: 0.5;
    padding-top: 57px;
    padding-left: 10px;

    display: flex;
    flex-direction: row;



}


.modalImage {
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    position: absolute;


    max-height: 90vh;
    max-width: 90vw;

    display: none;
    z-index:19;
    flex-direction: column;
}

.modalWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    z-index: 12;
    display: None;
    flex-direction: column;
    flex-wrap: wrap;
}

.modalBackdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:10;
    background-color:rgba(50,50,50,0.4);
}


.projectContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    max-width: 515px;
    position: absolute;
    z-index: 8;
    display: None;
    flex-wrap: wrap;

}

.project-description {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow-y:scroll;
    z-index: 8;
    border: solid black 2px;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
}

.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.image-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 5px;
    background: #b0b0b0;
}

.tektur-font {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.charm-regular {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}
